<a href="https://colab.research.google.com/github/Omdena-Bhutan/02-data-structures-assignment-team-6/blob/main/Test_Intro_Ram.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("hello Ram")

hello Ram

In [ ]:
# Create a list of fruits
fruits = ["apple", "banana", "cherry"]

# Print the list
print(fruits)

['apple', 'banana', 'cherry']

In [ ]:
# Create a list of fruits
fruits = ["apple", "banana", "cherry"]

# Remove 'banana' from the list
fruits.remove("banana")

# Print the updated list
print(fruits)

['apple', 'cherry']

In [ ]:
# Create a list of fruits
fruits = ["apple", "cherry"]

# Add 'mango' to the list
fruits.append("mango")

# Print the updated list
print(fruits)

['apple', 'cherry', 'mango']

In [ ]:
# Current list
fruits = ["apple", "cherry", "mango"]

# Insert 'orange' at the beginning (index 0)
fruits.insert(0, "orange")

# Print the updated list
print(fruits)

['orange', 'apple', 'cherry', 'mango']